* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: red;
  width: 340px;
}

.main-content {
  background-color: rgb(104, 55, 197);
  flex: 1;
}

.music-player {
  background-color: yellow;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
}
