body {
  background-color: #121212;
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar {
  width: 340px;
  border-radius: 1rem;
  background-color: rgb(213, 228, 111);
}

.main-content {
  flex: 1;
  border-radius: 1rem;
  background-color: #121212;
  overflow: auto;
}

.music-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  background-color: black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  padding: 0.5rem 0.75rem;
}

.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}

.nav-option:hover {
  opacity: 1;
}

.nav-option i {
  font-size: 1.2rem;
}

.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}

.library {
  background-color: #121212;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lib-option img {
  width: 1.25rem;
  height: 1.25rem;
}

.icons {
  padding-right: 1.5rem;
  font-size: 1.25rem;
  display: flex;
  gap: 1rem;
}

.icons i {
  opacity: 0.7;
}

.icons i:hover {
  opacity: 1;
}
